.header {
  height: 550px;
  width: 100%;
  background-image: url('https://via.placeholder.com/1920x550');
  display: flex;
  align-items: flex-start;

  .header__container {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .logo {
    flex: 50%;
  }

  .icon {
    flex: 14%;
  }

  @media (max-width: 770px) {
    .icon {
      flex: 5%;
    }

  }
}