.header {
  height: 550px;
  width: 100%;
  background-image: url('https://i.pinimg.com/originals/cb/33/49/cb3349b86ca661ca61ae9a36d88d70d4.png');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-start;

  .nav-hamburger {
    display: none;
  }  

  .header__container {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .logo {
    flex: 50%;
  }

  .icon {
    flex: 5%;
  }

  @media (max-width: 1100px) {

    .nav-hamburger {
      display: inline-block;
    }
  }

  @media (min-width: 770px) and (max-width: 1100px) {
    .icon {
      flex: 10%;
    }

  }
}