.new-stuff {

  .card {
    position: relative;
  }

  .card.card-top {
    margin-bottom: 15px;
  }

  .card-body {
    position: absolute;
    top: 0;

    .card-text {
      width: 100px;
      margin-bottom: 10px; 
    }

    .shop-now {
      font-size: .7rem;
    }
  }
}