// *, *::before, *::after {
//   box-sizing: border-box;
// }

body {

  color: $font-main;
}
h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

h6 {
  display: inline-block;
  font-size: .8rem;
  font-weight: 700;
}

img {
  cursor: pointer;
}

.page-content {
  max-width: 100%;
}

.wrapper {
  padding: 0 297px;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1400px) {
  .wrapper {
    padding: 0 100px;
  }
}