// *, *::before, *::after {
//   box-sizing: border-box;
// }

body {

  color: $font-main;
}

p {
  margin: 0;
  padding: 0;
}

.page-content {
  max-width: 100%;
}

.wrapper {
  padding: 0 297px;
}


@media (max-width: 1400px) {
  .wrapper {
    padding: 0 100px;
  }
}